

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


*{
     margin: 0; 
     padding: 0; 
     -moz-box-sizing: border-box;
     box-sizing: border-box; 
}


html, body{
      
      color: #2c3e50;
      font-family: 'Roboto', sans-serif;
      font-size: 62.5%;
      height: 100%;
}


a {

    text-decoration: none;
}

    a:hover, a:active, a:hover{

        background: none;
    }

*:focus{

    outline: none;
}

.container {

  width: 960px;

}

#contato, #faq{

  padding-top: 150px;
}

/* ==========================================================================
   General
   ========================================================================== */

.main-content{

    background: url('../img/bg.png');
    background-repeat:no-repeat;
    background-size: 100%;
    padding-top: 0;
    height: auto;
    padding-bottom: 100px;
}

.btn-outline{

  border: 1px solid #56799c;
  border-radius: 30px;
  color: #56799c;
  padding: 15px 20px;

}

  .btn-outline:hover{

    text-decoration: none;
    background: #56799c;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }

.btn-filled{
  
  background: #56799c;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  padding: 15px 20px;

}

  .btn-filled:hover{
    
    border: 1px solid #56799c;
    text-decoration: none;
    color: #56799c;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
/* ==========================================================================
   Header
   ========================================================================== */

nav{

  background: none;
  font-size: 1.5rem;
  font-weight: 300;
  height: 100px;
  text-transform: uppercase; 
  padding-left: 30px;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;

}

    nav .nav{

        padding-top: 20px;
        padding-left: 100px;
    }

    nav ul li a{

        color: #2c3e50;

    }

    nav li~li { 

    border-left: 1px solid #2c3e50; 
}

/* ==========================================================================
  HOME
   ========================================================================== */

.jumbotron{

    background: none;
    padding-top: 150px;
    font-size: 1rem;

}

    .jumbotron p{
    
        font-size: 3em;
        font-weight: 100;

    }

.home{

  font-size: 1rem;
	height: auto;
  padding-bottom: 200px;
	width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

}

  .home .row .col-md-6:first-child{

  padding-left:0; 

}


    .home .text-box{

        background-color: #2c3e50;
        color: #fff;
        font-size: 2.6em;
        font-weight: 100;
        margin-bottom: 60px;
        padding: 20px;  
        padding-left: 30px;
        /*position: absolute;
        top: 30px;   */
    }
    
    .home .btn-outline{
      /*position: absolute;
      bottom: 0;
      left: 0;*/
      font-size: 2.4em;
      margin-left: 30px;
    }

    .home .img-right{

      position: absolute;
      right: -100px;
    }

/* ==========================================================================
  Features
   ========================================================================== */

#features{
  
  font-size: 1.6rem;
  margin-left: 80px;
  margin-right: 80px;
}

  #features .subtitle{
    
    font-size: 1.3em;
    font-weight: 600;

  }

.box-features{

  height: 400px;
  position: relative;
  padding-bottom: 100px;

}

  .box-features h3{

    margin-left: 15px;

  }

  .box-features p{

    margin-top: 50px;
    margin-bottom: 20px;

  }

  .box-features .btn-outline{

    position: absolute;
    bottom: 0;
  }

  .box-features .btn-filled{

    position: absolute;
    bottom: 0;
  }


#president-quote{
  
  font-size: 2.4rem;
  font-style: italic;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 100px;
}

  #president-quote h2{

    font-weight: 900;
  }

  #president-quote .president-phrase{

    font-weight: 100;
    margin-top: 60px;
  }

.president-signature{

  color: #85919c;
  font-weight: 100;
  font-size: 0.8em;
  margin-top: 70px;

}

/* ==========================================================================
  Contato
   ========================================================================== */

#contato{
  font-size: 1.5rem;
  font-weight: 300;
  height: auto;

}

  #contato form .btn-filled{

    border-radius: 25px;
    background-color:#2d3e50;
    font-weight: 500;
  }

  #contato form .btn-filled:hover{

    background: none;
  }


label{
  
  font-weight: 500;
 
}

.contact-box{

  margin-top: 45px;
  margin-left: 45px;
}

  .contact-box .item-box:first-child{
    
    margin-bottom: 15px;
  
  }

.contact-information{
  
  font-size: 1.2em;
  margin-left: 15px;

}


/* ==========================================================================
  FAQ
   ========================================================================== */

#faq{

  font-size: 1rem;
  height: auto;
}

.box-title {
  
  background-color: #2d3e50;
  padding: 20px;
  width: 25%;
  margin-bottom: 50px;

}

  .box-title h2{
  
  color: #fff;
  
}

.panel-title{

  font-size:2em;
}

.panel-body{

  font-size: 1.8em;
  color: #2c3e50;
  font-weight: 300;
}

/* ==========================================================================
  Footer
   ========================================================================== */

footer{
    
    width: 100%;
    background-color: #2c3e50;
    color: #ccc;
    font-size: 1.2rem;
    font-weight: 300;
    height: 95px;
    padding: 15px 0;
    padding-left: 80px;
    padding-right: 80px;
}

  footer .contact div:first-child{

    margin-bottom: 15px;
  }

  footer .contact img{

    padding-right: 10px;
  }
/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}















