

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


*{
     margin: 0; 
     padding: 0; 
     -moz-box-sizing: border-box;
     box-sizing: border-box; 
}

body {

    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    padding-bottom: 20px;

}


a {

    text-decoration: none;
}

    a:hover, a:active, a:hover{

        background: none;
    }

*:focus{

    outline: none;
}

.container {

  width: 960px;

}

/* ==========================================================================
   Header
   ========================================================================== */

nav{

  background: none;
  font-size: 1.5em;
  font-weight: 300;
  height: 100px;
  text-transform: uppercase; 
  margin-left: 30px;

}

    nav .nav{

        padding-top: 20px;
        padding-left: 100px;
    }

    nav ul li a{

        color: #2c3e50;

    }

    nav li~li { 

    border-left: 1px solid #2c3e50; 
}

/* ==========================================================================
  HOME
   ========================================================================== */

.main-content{

    background: url('../img/bg.png');
    background-repeat:no-repeat;
    background-size: 100%;
    padding-top: 0;
}

.jumbotron{

    background: none;
    padding-top: 150px;

}

    .jumbotron p{
    
        font-size: 3.3em;
        font-weight: 100;

    }

.features{

	height: 400px;
	width: 100%;

}


    .features .text-box{

        background-color: #2c3e50;
        color: #fff;
        font-size: 2em;
        font-weight: 100;
        padding-top: 20px;
        padding: 20px;


    }

/* ==========================================================================
  Footer
   ========================================================================== */

footer{

    background-color: #2c3e50;
    color: #fff;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}















